name: build_SimpleGSIs

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
    
env:
  ROM_URL: https://hugeota.d.miui.com/20.6.23/miui_LAVENDER_20.6.23_0f9770f71b_10.0.zip
  ROM_NAME: MIUI
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clean Up
         run: |
           docker rmi `docker images -q`
           sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
           sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
           sudo -E apt-get update
           sudo -E apt-get -y autoremove --purge
           sudo -E apt-get clean 
           
       - name: Initialization environment
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install git openjdk-8-jdk wget wget p7zip p7zip-full
       
       - name: Download SimpleGSIs Source Code
         run: wget -P ./ "https://xiaopei.yaoxiaonie.workers.dev/Acitons/SimpleGSIs.7z"
       
       - name: Decompression SimpleGSIs.7z
         run: |
              7z x ./SimpleGSIs.7z -o"./"
              sudo chmod -R 777 SimpleGSIs
              cd SimpleGSIs
              sudo bash setup.sh
              sudo sed -i '7c AB=false' url2GSI.sh
       
       - name: Download Stock Rom & Generate GSI
         run: sudo ./SimpleGSIs/url2GSI.sh $ROM_URL $ROM_NAME
       
       - name: 7z the MIUI GSI  
         run: |
              IMG_NAME=$(ls ./SimpleGSIs/output | grep "txt" | sed 's/.txt//')
              mkdir Final
              7z a Final/"$IMG_NAME".7z SimpleGSIs/output/*

       - name: Upload GSI to GoFile
         run: |
              curl -sL https://git.io/file-transfer | sh
              ./transfer gof Final/"$IMG_NAME".7z

         
            
